h1{
color:black;
text-align: center

}

body {
 background-color :#397899;
  margin: 0;
  padding: 0;
}

h1, p {
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

ul {

  list-style-type: none;
  padding: 0;
    margin: 0;
  background-color: #154e6e;
  display: flex;
  justify-content: center;
}


ul li a {
    font-family:"Times New Roman", Times, serif;
    font-size: large;
    display: block;
    color: black;
    padding: 20px 22px;
    text-decoration: none;
}

ul li a:hover {
  background-color: #154e6e
}

p{
    color: white;
    font-family: monospace;
    font-size: x-large;
    text-align: center;
    margin: 40px

;
}
div {
  display: flex;
  justify-content: center;
}

footer {
    font-family:"Times New Roman", Times, serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#004e7a;
    color: black;
    text-align: center;


}

.responsive {
    width: 30%;
    height: 50%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}



img {
  float: right;
}

.container {
  display: flex;
  flex-direction: column

}