h2{
color:black;
text-align: center

}

body {
 background-color : #397899;
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #004e7a;
  display: flex;
  justify-content: center;
}


ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #397899;
}