h1{
color:black;
text-align: center

}

body {
 background-color : #397899;
  margin: 0;
  padding: 0;
}

h1, p {
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

ul {

  list-style-type: none;
  padding: 0;
    margin: 0;
  background-color: #004e7a;
  display: flex;
  justify-content: center;
}


ul li a {
    font-family:"Times New Roman", Times, serif;
    font-size: large;
    display: block;
    color: black;
    padding: 20px 22px;
    text-decoration: none;
}

ul li a:hover {
  background-color: #154e6e
}

p{
    color: white;
    font-family: monospace;
    font-size: x-large;
    text-align: center;
    margin: 20px

;
}
div {
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
}
footer {
    font-family:"Times New Roman", Times, serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#004e7a;
    color: black;
    text-align: center;


}
pre{
    color: white;
    font-family: monospace;
    font-size: x-large;
    text-align: left;
    margin: 140px
}


